{% extends 'oneplace/base.html' %}
{% block title %}Welcome to OnePlace{% endblock %}
{% block body %}
 

    <div class = "col-md-10 offset-md-1">
        <div class="card cardchart">
          <div class="card-header">
            Student Enrollment
          </div>
          <div class="card-block">
              <div id="totalStudent" style="width:100%; height:400px;"></div>   
              <a href="{% url 'oneplace:chart' %}" class="btn btn-primary">Back to All Charts</a>
          </div>
        </div>
    </div>
   

{% load staticfiles %}


<script src="{% static 'oneplace/highchart5.0.7/highcharts.js' %}"></script>
<script type="text/javascript">
$(function () {
    Highcharts.chart('totalStudent', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Total # Students in Each Class'
        },
        xAxis: {
            categories: [
            {% for lessonName in lessonName %}
                '{{ lessonName }}',
            {% endfor %}    
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Total Students'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Class Name',
            data: [
            {% for lessonStudentCount  in lessonStudentCount %}
            {{ lessonStudentCount }},
            {% endfor %} ]

        }, ]
    });
});
        </script>

{% endblock %}