{% extends 'oneplace/base.html' %}

{% block title %}All Students{% endblock %}
{% block body %}

<div class = "container-fluid">
  <div class="row">
    <div class = "col-md-4">
      <div class="card cardmain">
      <div class = "offset-lg-8 col-lg-4">
      <form action="{% url 'oneplace:lesson_update' lesson.id %}">
              {% csrf_token %}
                <button type = "submit" class="btn btn-outline-info btn-sm rightupdate">Update</button>
             </form>
      </div>    
      <div class="card-header">
              <h5 class ="col-lg-10" >
          {{ lesson.class_name }} 
              </h5>
            </div>
        <div class="card-block ">
          <p class="lead">{{ lesson.class_description }}</p>
          <p>Start Time: {{ lesson.start_time }}<br>End Time: {{ lesson.end_time }}</p>
          <p> Maximum Capacity: {{ lesson.class_capacity }}</p>
          <p> Room: {{lesson.room_location}} </p>    
        </div>
      </div>
    </div>
    <div class = "col-md-8">
      <div class="card">
      <div class="card-header text-center">
              <h5  >
          Instructor 
              </h5>
            </div>
        <div class="offset-lg-1 card-block">
          <table class = "table table-responsive table-striped" id="tablesort">
          <thead>
            <tr>
              <th onclick="sortTable(0)" class="nicehover">Profile Pic</th>
              <th onclick="sortTable(1)" class="nicehover">Instructor First Name</th>
              <th onclick="sortTable(2)" class="nicehover">Instructor Last Name</th>
              <th onclick="sortTable(3)" class="nicehover">Address</th>
              <th onclick="sortTable(4)" class="nicehover">Zip Code</th>
              <th onclick="sortTable(5)" class="nicehover">State</th>
              <th onclick="sortTable(6)" class="nicehover">City</th>
              <th onclick="sortTable(7)" class="nicehover">Rate</th>
              <th></th>
              <th></th>
            </tr>
          <thead>
          <tbody>
          
             {% for instrvalue in instructor_Info %}
            <tr>
              <td><img src="{{ instrvalue.instructor_picture.url }}" class="img-responsive" width="100" height="100"></td>
              <td>{{ instrvalue.first_name }}</td>
              <td>{{ instrvalue.last_name }}</td>
              <td>{{ instrvalue.address }}</td>
              <td>{{ instrvalue.zip_code }}</td>
              <td>{{ instrvalue.state }}</td>
              <td>{{ instrvalue.city }}</td>
              <td>{{ instrvalue.rate }}</td>
               <td>      
                  <form action="{% url 'oneplace:instructor_update' instrvalue.id %}">
                  {% csrf_token %}
                    <button type = "submit" class="btn btn-outline-info btn-sm btn-block">Update</button>
                  </form>
                </td>
                <td> 
                  <form action="{% url 'oneplace:instructor_remove' instrvalue.id lesson.id %}" method="post">
                  {% csrf_token %}
                    <button type = "submit" class="btn btn-outline-danger btn-sm btn-block">Remove</button>  
                  </form>
                </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        <a href="{% url 'oneplace:instructor_assign' %}" class="btn btn-success btn-md active classbtnadd">Assign Additional Instructor</a>
        </div>
      </div>
      <div class="card cardsecond">
       <div class="card-header text-center">
            <h5>
          Students Enrolled
            </h5>
          </div>
        <div class="offset-lg-1 card-block">
        <table class = "table table-responsive table-striped" id="tablesort2">
          <thead>
            <tr>
              <th onclick="sortTable2(0)" class="nicehover">Profile Pic</th>
              <th onclick="sortTable2(1)" class="nicehover">Student First Name</th>
              <th onclick="sortTable2(2)" class="nicehover">Student Last Name</th>
              <th onclick="sortTable2(3)" class="nicehover">Address</th>
              <th onclick="sortTable2(4)" class="nicehover">Zip Code</th>
              <th onclick="sortTable2(5)" class="nicehover">State</th>
              <th onclick="sortTable2(6)" class="nicehover">City</th>
              <th></th>
              <th></th>
            </tr>
          <thead>
        <tbody>
       
           {% for sdtvalue in student_Info %}
          <tr>
            <td scope="row"><img src="{{ sdtvalue.student_picture.url }}" class="img-responsive" width="100" height="100"></td>
            <td>{{ sdtvalue.first_name }}</td>
            <td>{{ sdtvalue.last_name }}</td>
            <td>{{ sdtvalue.address }}</td>
            <td>{{ sdtvalue.zip_code }}</td>
            <td>{{ sdtvalue.state }}</td>
            <td>{{ sdtvalue.city }}</td>
            <td> 
                <form action="{% url 'oneplace:student_update' sdtvalue.id %}">
                {% csrf_token %}
                  <button type = "submit" class="btn btn-outline-info btn-sm">Update</button>
                </form>
              </td>
              <td> 
                <form action="{% url 'oneplace:student_remove' sdtvalue.id lesson.id %}" method="post">
                {% csrf_token %}
                  <button type = "submit" class="btn btn-outline-danger btn-sm">Remove</button>  
                </form>
              </td>
          </tr>
        {% endfor %}
        </tbody>
        </table>
        <a href="{% url 'oneplace:student_enroll' %}" class="btn btn-success btn-md active classbtnadd">Enroll Additional Student</a>
        </div>
      </div>
     </div>
    </div>
  </div>
</div>

{% load staticfiles %}
<script src="/static/oneplace/js/customsorttable.js"></script>

{% endblock %}