{% extends 'oneplace/base.html' %}
{% block title %}Welcome to OnePlace{% endblock %}
{% block body %}
<div class = "container-fluid">
<form class="form-horizontal" action="" method="post" enctype="multipart/form-data" id="formimport">
	{% csrf_token %}
	{% for field in form %}
    {{ form }}
    {% endfor %}
    <!-- <input  name="submit" value="Upload" /> -->
  </form>
 </div>
 
<script type="text/javascript">
	document.getElementById("id_file").onchange = function() {
    document.getElementById("formimport").submit();
}
</script>
{% endblock %}