<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
    
    <title>Home</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/nonprofit/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/nonprofit/style.css" rel="stylesheet">
  </head>
<body>

<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse mb-4">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">One Place</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Classes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Intructors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Students</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

<div class="jumbotron">
    <div class="container tsquare">
        <h1>OnePlace</h1>
        <p class="lead">Welcome to onePlace. The site where you can set up a group or company and track events, classes, generate reports, and take donations</p>
        
    </div>
</div>

<div class="container">
    <div class="card-deck">
        <div class = "col-md-4">
            <div class="card">
                <img class="card-img-top img-fluid" src="../../static/nonprofit/images/class.jpg" alt="Card image cap">
                  <div class="card-block">
                    <h4 class="card-title">Classes</h4>
                    <p class="card-text">View List of available Classes</p>
                    <a href="#" class="btn btn-primary">Class List</a>
                  </div>
            </div>
        </div>
        <div class = "col-md-4">
            <div class="card">
                <img class="card-img-top img-fluid" src="../../static/nonprofit/images/report.jpg" alt="Card image cap">
                
                  <div class="card-block">
                    <h4 class="card-title">Reports</h4>
                    <p class="card-text">Check out the reporting features </p>
                    <a href="#" class="btn btn-primary">Available Reports</a>
                  </div>
            </div>
        </div>
        <div class ="col-md-4">
            <div class="card">
                <img class="card-img-top img-fluid h-50 d-inline-block" src="../../static/nonprofit/images/jar.jpg" alt="Card image cap">
                  <div class="card-block">
                    <h4 class="card-title">Donations</h4>
                    <p class="card-text">Donate to a nonprofit today</p>
                    <a href="#" class="btn btn-primary">Donate Today</a>
                  </div>
            </div>
        </div>
    </div>
</div>


 <footer class="blog-footer">
      <p class = "lead">For more information Contact qtech411@gmail.com
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>

<!--prereqs-->
 <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="../../static/nonprofit/js/bootstrap.min.js"></script>

  </body>
</html>