 
{% extends 'nonprofit/base.html' %}
{% block body %}
<div class = "container-fluid">
<div class = "col-lg-4 ">
<a href="{% url 'nonprofit:lesson_add' %}" class="btn btn-primary btn-lg active classbtnadd">Add Class</a>
</div>
  <div class="card-deck">
{% for classvalue in all_Class %}
    <div class = "col-lg-4 cont_pad">
      <div class="card cardspec">
        <div class="card-header">
          <h4>{{ classvalue.class_name }}
            <form action="{% url 'nonprofit:lesson_delete' classvalue.class_id %}" method="post">
              {% csrf_token %}
                <button type = "submit" class="btn btn-outline-danger btn-sm classbtndel">Delete</button>  
             </form>  
             <form action="{% url 'nonprofit:lesson_update' classvalue.class_id %}">
              {% csrf_token %}
             <button type = "submit" class="btn btn-outline-info btn-sm classbtnupd">Update</button>
             </form>   
          </h4>
        </div>
        <div class="card-block">
          <p class="lead">{{ classvalue.class_description }}</p>
          <p> {{ classvalue.start_time }}<br> {{ classvalue.end_time }}</p>
          <p> Maximum Capacity: {{ classvalue.class_capacity }}</p>  
        </div>
      <a href="{% url 'nonprofit:student' classvalue.class_id %}" class="btn btn-primary">View Enrollment</a>
      </div>
    </div>
{% endfor %}
</div>
</div>
{% endblock %}


