
{% extends 'nonprofit/base.html' %}
{% block title %}Student{% endblock %}
{% block body %}
<div class = "container-fluid">
<h2>Here are the students in {{ lesson.class_name }} </h2>
<h3>There are a total of  {{ student_Count }} students </h3>
<table class = "table table-striped">
  <thead>
    <tr>
      <th>Profile Pic</th>
      <th>Student First Name</th>
      <th>Student Last Name</th>
      <th>Address</th>
      <th>Zip Code</th>
      <th>State</th>
      <th>City</th>
    </tr>
  <thead>
<tbody>
<tr>
   {% for sdtvalue in student_Info %}
  <tr>
    <td><img src="{{ sdtvalue.student_picture.url }}" class="img-responsive" width="100" height="100"></td>
    <td>{{ sdtvalue.first_name }}</td>
    <td>{{ sdtvalue.last_name }}</td>
    <td>{{ sdtvalue.address }}</td>
    <td>{{ sdtvalue.zip_code }}</td>
    <td>{{ sdtvalue.state }}</td>
    <td>{{ sdtvalue.city }}</td>
  </tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}